body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button{
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background-color: rgb(58, 55, 55);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

#calculator{
    background-color: rgb(31, 24, 16);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width:340px;
    padding: 20px;
    text-align: left;
    border: none;
    border-radius: 4px;
    background-color: rgb(41, 40, 40);
    color: white;
    font-size: 2.5rem;
}

button:hover{
    background-color: rgb(78, 75, 75);
}

button:active{
    background-color: rgb(94, 91, 91);
}

.operador{
    background-color: rgb(223, 127, 58);
}

.operador:hover{
    background-color: rgb(204, 103, 31);
}

.operador:active{
    background-color: rgb(204, 130, 78);
}
